:root {
  --lightest: #C9E4CA;
  --light: #87BBA2;
  --mid: #55828B;
  --dark: #3B6064;
  --darkest: #364958;
}

body {
  background-color: #C9E4CA;
}

#chillPlz {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4rem;
  padding: 16px;
  border-radius: 50%;
  background-color: var(--darkest);
  color: var(--lightest);
  font-size: 18px;
  box-shadow: 4px 4px 4px var(--mid);
  cursor: pointer;
}

#chillPlz:hover {
  transform: scale(1.05);
}

#chillPlz:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

#welcome {
  display: flex;
  flex-direction: column;
  margin: 3%;
}

#welcome h1 {
  margin: auto;
}

#welcome img {
  max-height: 450px;
  max-width: 450px;
}

#pages {
  display: flex;
  justify-content: space-around;
  margin: 2%;
  padding: 3%;
  font-size: 80px;
}

#pages div {
  padding: 2%;
  margin: 2%;
  background-color: var(--lightest);
  opacity: .7;
}

@media only screen and (max-width: 480px) {
  body {
    background-color: #C9E4CA;
  }
}