:root {
  --lightest: #C9E4CA;
  --light: #87BBA2;
  --mid: #55828B;
  --dark: #3B6064;
  --darkest: #364958;
}

* {
  font-family: 'Raleway', 'Roboto', sans-serif;
}

body {
  background-color: #C9E4CA;
  max-width: 100vw;
}

/* The on/off button for particles */
#chillPlz {
  position: fixed;
  top: 0;
  right: 0;
  margin: 4rem;
  padding: 16px;
  border-radius: 50%;
  background-color: var(--darkest);
  color: var(--lightest);
  font-size: 18px;
  box-shadow: 4px 4px 4px var(--mid);
  cursor: pointer;
}

#chillPlz:hover {
  transform: scale(1.05);
}

#chillPlz:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

/* This is the whole page when not mobile */
.content {
  display: flex;
  justify-content: center;
  margin: auto;
}


#welcome {
  display: flex;
  flex-direction: column;
  margin: 3%;
}

#welcome h1 {
  margin: auto;
}

#welcome img {
  width: 430px;
}

#pages {
  display: flex;
  justify-content: space-around;
  margin: 0% 2% 2% 0%;
  padding: 3%;
  font-size: 70px;
}

#pages div {
  width: auto;
  padding: 2%;
  margin: 2%;
  background-color: var(--lightest);
  opacity: .7;
}

#click:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: var(--lightest);
  }

  #chillPlz {
    position: fixed;
    top: 0;
    right: 0;
    margin: 2rem;
    padding: 16px;
    background-color: var(--darkest);
    color: var(--lightest);
    font-size: 18px;
    box-shadow: 4px 4px 4px var(--mid);
    cursor: pointer;
  }

  #chillPlz:hover {
    transform: scale(1.05);
  }

  #chillPlz:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
}

@media only screen and (max-width: 980px) {
  body {
    background-color: var(--lightest);
  }

  #chillPlz {
    position: block;
    top: 0;
    right: 0;
    margin: auto;
    padding: 16px;
    background-color: var(--darkest);
    color: var(--lightest);
    font-size: 18px;
    box-shadow: 4px 4px 4px var(--mid);
    cursor: pointer;
  }

}

@media only screen and (max-width: 480px) {
  body {
    background-color: var(--lightest);
  }

  #chillPlz {
    display: none;
    position: fixed;
    top: 0;
    padding: 16px;
    border-radius: 0%;
    background-color: var(--darkest);
    color: var(--lightest);
    font-size: 18px;
    box-shadow: 4px 4px 4px var(--mid);
    cursor: pointer;
  }

  #welcome img {
    max-width: 300px;
  }

  #pages {
    font-size: 30px;
  }
}