:root {
  --lightest: #C9E4CA;
  --light: #87BBA2;
  --mid: #55828B;
  --dark: #3B6064;
  --darkest: #364958;
}

/*  -------------------All pages ----------------------------------------------- */

.page-titles {
  text-align: center;
  margin-top: 4%
}

.likeBtn {
  display: block;
  padding: 4px;
  margin: 2px;
  color: var(--light);
  font-size: 16px;
  background-color: var(--darkest);
  border-radius: 8px;
  box-shadow: 4px 4px 4px var(--mid);
  max-height: 30px;
  cursor: pointer;
}

.likeBtn:hover {
  transform: scale(1.05);
}

.likeBtn:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

/* --------------------Events page ------------------------------------------  */

.event-box {
  margin: auto;
  padding: 2%;
  width: 30%;
}

.event-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.event-page img {
  border-radius: 8px;
  box-shadow: 3px 3px var(--dark), -1em 0 .4em var(--mid);
  transition: all 600ms;
}

.event-page img:hover {
  transform: scale(1.05) rotate(4deg);
}

.event-page h2 {
  text-align: center;
  padding: 2rem;
}

.event-box-bottom {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  padding: 1%;
  margin: 1%;
}

.event-box-bottom a {
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  color: inherit;
  transition: all 300ms;
  padding: 6rem;
}

.event-box-bottom a:hover {
  color: var(--mid);
  text-decoration: var(--darkest) underline;
}

.venue-name {
  text-align: center;
}

/* -----------------  Brew Page --------------------------------------- */

.brew-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2%;
  margin: 4%;
  margin-bottom: 2%;
}

.brew-box a {
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  color: inherit;
  transition: all 300ms;
}

.brew-box a:hover {
  color: var(--mid);
  text-decoration: var(--darkest) underline;
}

.brew-left {
  margin: 4%;
  margin-left: -2%;
}

.brew-title {
  font-size: 150%;
  margin-bottom: 3%;
}

.brew-right {
  display: flex;
  align-items: flex-end;
}

/*   -----------------Outdoors page ----------------------------------- */

.park-card {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: auto;
  max-width: 80%;
  padding: 2%;
}

.park-card h2 {
  margin-bottom: 4%;
}

.park-card img {
  max-width: 200px;
  border-radius: 8px;
  box-shadow: 3px 3px var(--dark), -1em 0 .4em var(--mid);
  transition: all 600ms;
  margin-bottom: 1%;
}

.park-card img:hover {
  transform: scale(1.05) rotate(4deg);
}

.park-card a {
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  color: inherit;
  transition: all 300ms;
}

.park-card a:hover {
  color: var(--mid);
  text-decoration: var(--darkest) underline;
}

.park-bottom {
  display: flex;
}

.park-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 2% 0 2%;
}

.park-left p {
  margin: 0 0 3% 0;
}

/*  ---------------- Indoors page ----------------------------- */

.games-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4%;
}

.games-box {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
}

.games-box img {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 3px 3px var(--dark), -1em 0 .4em var(--mid);
  transition: all 600ms;
  margin-bottom: 1%;
}

.games-box img:hover {
  transform: scale(1.05) rotate(4deg);
}


.games-left {
  margin: 2%;
}

.games-right {
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin: 2%;
}

.games-right a {
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  color: inherit;
  transition: all 300ms;
  margin-bottom: 2%;
}

.games-right a:hover {
  color: var(--mid);
  text-decoration: var(--darkest) underline;
}

.games-right p {
  margin: 2%;
}

/*  -------------- Forum page ---------------------------- */

.forum-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
}

.forum-top {
  margin: 2%;
  margin-bottom: 4%;
  padding: 2%;
}

.forum-top h2 {
  margin-bottom: 4%;
}

.forum-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.post-card {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  margin: 2%;
  padding: 2%;
}

.post-card h3 {
  color: var(--mid);
}

.post-content {
  margin: 2% 0 2% 4%;
  color: var(--darkest);
  font-weight: 500;
  font-size: 18px;
}

/*  -------- Logout page -------------------------------- */

.logged-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
  font-size: 200%;
}

.logged-out h1 {
  margin-bottom: 8%;
}

/*  ---------Likes page -------------------------------------- */

.likes {
  height: 100vh;
  font-size: 150%;
}

.likes-page {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  margin: 4%;
  max-width: 100vw;
}

.likes-box {
  display: flex;
  flex-direction: column;
  margin-right: 6%;
}

.like {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15%;
}

.likes-nav {
  margin: 3%;
  padding: 3%;
}

.likes-icons {
  position: fixed;
  right: 6%;
  top: 30%;
}

@media only screen and (max-width: 480px) {
  
  .event-box {
    margin: auto;
    padding: 2%;
    width: 100vw;
  }
  
  .event-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .event-page img {
    max-width: 200px;
  }

  .park-bottom {
    display: flex;
    flex-direction: column;
    margin: 2%;
  }

  .park-card img {
    margin-bottom: 1%;
    margin-top: 2%;
  }

  .games-box {
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }

  .games-box img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 80%;
  }
}
