:root {
  --lightest: #C9E4CA;
  --light: #87BBA2;
  --mid: #55828B;
  --dark: #3B6064;
  --darkest: #364958;
}

#footer {
  display: none;
}

@media only screen and (max-width: 480px) {
  #footer {
    background-color: var(--darkest);
    color: var(--lightest);
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 100%;
    display: flex;
    padding: 1%;
    justify-content: center;
    border-top: #87BBA2 thick double;
  }
}
