.likes {
  position: fixed;
  left: 40%;
  top: 40%;
}

.popup {
  position: relative;
}

.liked-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(173, 150, 119, .7);
  width: 400px;
  height: 300px;
  border: solid black;
  border-radius: 8px;
}

.popup h1 { 
  margin: 4%;
  text-align: center;
}

#clearBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin: 2px;
  color: var(--darkest);
  text-align: center;
  font-size: 22px;
  border: 1px solid var(--mid);
  background-color: var(--lightest);
  border-radius: 8px;
  box-shadow: 4px 4px 4px var(--mid);
  cursor: pointer;
}

@media only screen and (max-width: 480px) {

  .liked-box {
    width: 200px;
    height: 150px;
  }

  .likes {
    left: 25%;
  }

  .popup h1 {
    font-size: 18px;
    text-align: center;
  }

  #clearBtn {
    padding: 8px;
    font-size: 18px;
  }
}