:root {
  --lightest: #C9E4CA;
  --light: #87BBA2;
  --mid: #55828B;
  --dark: #3B6064;
  --darkest: #364958;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  display: flex;
}

main {
  width: 100%;
  padding: 20px;
}

.navbar {
  position: fixed;
  background-color: var(--darkest);
  color: var(--lightest);
  height: 100vh;
  width: 300px;
  transition: all 0.4s;
}

.top-section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-size: 30;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
  cursor: pointer;
}

.link {
  display: flex;
  color: var(--lightest);
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.4s;
}

.link:hover {
  background-color: var(--mid);
  color: var(--darkest);
  transition: all 0.4s;
}

.active {
  background-color: var(--mid);
  color: var(--darkest);
}

.icon, .link-text {
  font-size: 20px;
}